[user]
  name = Ethan Pursley
  email = me+github@ethanpursley.com

[color]
  ui = auto

[core]
  whitespace = -trailing-space
	excludesfile = /Users/ethanpursley/.gitignore

[commit]
	template = /Users/ethanpursley/.gitmessage

[log]
  abbrevCommit = true
  follow = true

[diff]
  mnemonicPrefix = true
  renames = true
  wordRegex = .
  submodule = log
  tool = vscode

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[fetch]
  recurseSubmodules = on-demand

[grep]
  break = true
  heading = true
  lineNumber = true
  extendedRegexp = true

[branch]
  autosetupmerge = always
  autosetuprebase = always

[merge]
  ff = only

[pull]
  rebase = true
